<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->  
<head>
    <title>Administradora SAC | Administradora de Condominios | Servicio</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicio de Administración de condominios para edificios, Conjuntos Residenciales, Centros Comerciales">
    <meta name="keywords" content="Administradora de condominios, administracion de condominios, administradoras de condominios caracas, adminsitracion condominios bello monte">
    <meta name="author" content="Pronet21.com">    
    <link rel="shortcout icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->   
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/custom-icons/style.css">
    <link rel="stylesheet" href="assets/plugins/custom-icons/icon-font.min.css">
    <link rel="stylesheet" href="assets/plugins/animate-css/animate.min.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/plugins/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="assets/plugins/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-24707561-36', 'auto');
      ga('send', 'pageview');
    
    </script-->
    
    <!-- Facebook Pixel Code -->
    <!--script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');
    
    fbq('init', '1506230579705064');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1506230579705064&ev=PageView&noscript=1"
    /></noscript-->
    <!-- End Facebook Pixel Code --> 
    
</head> 

<body data-spy="scroll">     
    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div id="topbar" class="topbar">
            <div class="container-fluid">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header text-center">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar-wrapper">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span><!--//icon-bar-wrapper-->
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse text-center">
                        
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
                <div class="social-container">
                    <ul class="list-inline social-list">
                        <li class="social-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul><!--//social-list-->
                </div><!--//social-container-->
            </div><!--//container-->
        </div><!--//topbar-->
        <div class="branding container">    
            <h1 class="logo pull-left"><img id="logo-image" class="logo-image" src="assets/images/logo.svg" alt=""></h1> 
            <ul class="header-info-list list-inline pull-right">
                <li class="info-item contact-methods">
                    <span class="custom-icon icon-telephone_signal"></span>
                    <span class="info-main phone-number"><a href="#">(0212) 751 9992 • (0212)751 3764</a></span>
                    <span class="info-sub"><a href="#">administracion@administradorasac.com</a></span>
                </li><!--//info-item-->
                <li class="info-item business-hours">
                    <span class="custom-icon icon-clock"></span>
                    <span class="info-main phone-number">8 a 12am - 1 a 3pm</span>
                    <span class="info-sub">Lunes a Viernes</span>
                </li><!--//info-item-->
            </ul><!--//info-list-->
        </div><!--//branding-->
    </header><!--//header-->
    
<div id="promo" class="promo-section">

    <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="8000">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                            <div class="item item-1 active">
                                    <div class="item-content container text-center">
                                    <div class="item-content-inner">

                                        <h2 class="heading">Página en Mantenimiento</h2>
                                        <!--p class="intro">Effective one page website template  designed for small trade businesses.</p-->
                                        <img class="img-responsive center-block" src="assets/images/logo.sac.png" />
                                        <p>Estamos efectuando trabajos en nuestra plataforma, regrese pronto</p>
                                    </div><!--//item-content-inner-->
                                    </div><!--//item-content-->
                            </div><!--//item-->
                    </div><!--//carousel-inner-->

            </div><!--//carousel-->
</div><!--//promo-section-->
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-main container">
            <div class="row">
                <div class="footer-col business-hours-col col-md-4 col-sm-6 col-xs-12">
                    <h3 class="col-title">Horarios de trabajo</h3>
                    <div class="intro">Lo esperamos en nuestras oficinas, en horario de atención al púbico</div>
                    <ul class="business-hours-list list-unstyled">
                        <li><strong>Lunes - Viernes:</strong> 8:30am - 3:30pm</li>
                        <li><strong>Sábado:</strong> Cerrado</li>
                        <li><strong>Domingo:</strong> Cerrado</li>
                    </ul>
                </div><!--//footer-col-->
                <div class="footer-col contact-us-col col-md-4 col-sm-6 col-xs-12">
                    <h3 class="col-title">Contáctenos</h3>
                    <ul class="footer-contact-list list-unstyled">
                        <li class="item">
                            <span class="custom-icon icon-telephone_signal"></span>
                            <span class="info">(0212)751 9992 / (0212)751 3764</span>
                        </li>
                        <li class="item">
                            <span class="custom-icon icon-email"></span>
                            <span class="info"><a href="#">info@administradorasac.com</a></span>
                        </li>    
                        <li class="item">
                            <span class="custom-icon icon-map_pin"></span>
                            <span class="info">
                                
                                    <span class="street-address">Colinas de Bello Monte</span><br>
                                    <span class="region">Av. Caurimare, Centro Comercial Caroní</span><br>
                                    <span class="postal-code">Piso 1, Oficina 14-A</span><br>
                                    <span class="country-name">Caracas - Venezuela</span>
                               
                            </span>
                        </li>    
                    </ul>
                </div><!--//footer-col-->
                <div class="footer-col follow-us-col col-md-4 col-xs-12">
                    <h3 class="col-title">Síguenos</h3>
                    <div class="intro">Forma parte de nuesta comunidad.</div>
                    <div class="social-container">
                        <ul class="list-inline social-list">
                            <li class="social-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--//social-list-->
                    </div><!--//social-container-->
                    
                     <!--ul class="footer-menu list-unstyled">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul-->
                </div><!--//footer-col-->
            </div><!--//row-->
        </div><!--//container-->
        <div class="bottombar text-center">
            <div class="copyright"><a href="http://www.pronet21.com.ve/" target="_blank">Página web</a> @Pronet21</div>  
        </div><!--//bottombar--> 
    </footer><!--//footer-->

    <!-- Project Modal 1 -->
    <div id="project-modal-1" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal1Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal1Label">Accesible desde cualquier dispositivo con un navegador</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="assets/images/projects/latest/latest-1.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Estamos oritentados a ofrecerles la mejor experiencia de navegación en el uso de nuestro servicio de Condominio en Línea. Ahora usted puede nuestro servicio de condominio en línea desde su Tablet, Teléfono inteligente o computador personal. Usted tendrá una correcta visualización de nuestra página desde sus diferentes dispositivos.</p>
                                <p>Queremos brindar mayor alcance del servicio y llegar hasta aquellos propietarios que usan sus dispositivos móviles para acceder a la web.</p>
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Llego a mi casa y me conecto desde mi Tablet sin ningún problema. Cuando necesito una información urgente, uso mi teléfono celular y también puedo navegar perfectamente. </p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="assets/images/customers/customer-8.png" alt="">
                                <div class="customer-meta">Usuario Satisfecho</div>
                            </div><!--//source-->
                        </div><!--//review-->
                    
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    <!-- Project Modal 2 -->
    <div id="project-modal-2" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal2Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal2Label">Más información, mayor funcionalidad</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="assets/images/projects/latest/latest-2.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Ponemos a su disposición un amplio abanico de funciones para mantenerlo informado todo el tiempo sobre su cuenta de condominio.
                                Mantega actualizados sus datos de contacto (correos electrónicos y números telefónicos) y permtamos brindarle mayor información
                                en el momento que lo requiera, y lo mejor de todo, sin necesidad de ir a nuestras oficinas.</p>
                                <p>Pague el condominio desde la comodiad de su casa u oficina y reciba su recibo de cancelación de gastos digital
                                    en su cuenta de correo electrónico.</p>
                                <p>Paulitanemente iremos adicionando más funciones, para asegurarle toda la información que usted necesita con tan solo unos pocos clics.</p>
                                
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Puedo hacer más operaciones que cualquier otro portal de este tipo. Desde consultar quienes son los miembros de la Junta de Condomino de mi edificio, hasta descargar la cancelación de gastos.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="assets/images/customers/customer-7.png" alt="">
                                <div class="customer-meta">Dan, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    <!-- Project Modal 3 -->
    <div id="project-modal-3" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal3Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal3Label">24 horas del día, 7 días a la semana</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="assets/images/projects/latest/latest-3.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Ingrese a nuestros servicio de condominio en línea al momento que usted lo necesite. Ahorre tiempo, efectúe operaciones
                                y consultas de su cuenta de condominio cualquier día de la semana, en cualquier horario, fines de semanas y dias feriados.</p>
                                <p>Haga consultas u operaciones sobre su cuenta de condominio en cualquier momento y sin necesidad de ir a nuestras oficinas. 
                                Reciba la información que usted necesita en forma rápida y oportuna.</p>
                                
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Puedo cancelar el condominio en las noches, luego de llegar de mi trabajo. Me mantengo al día con mi cuenta de condominio, 
                                    recibo mi cancelación de gastos en mi cuenta de correo electrónico.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="assets/images/customers/customer-8.png" alt="">
                                <div class="customer-meta">Usuario Satisfecho</div>
                            </div><!--//source-->
                        </div><!--//review-->
                        
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    
    <!-- The Bootstrap Image Gallery lightbox -->
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade" tabindex="-1" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--blueimp-gallery-->
     <!-- Login Modal -->
    <div class="modal modal-auth modal-login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="loginModalLabel" class="modal-title text-center">Condominio en Línea</h4>
                </div>
                <div class="modal-body">
                   <div id="login-messages" class="text-center"></div>
                    <div class="login-form-container">
                        <form id="login-form" class="login-form" method="post" action="" data-destination="{{constant('URL_SISTEMA')}}">
                            <div class="form-group email">
                                <label class="sr-only" for="cedula">Cédula</label>
                                <input id="login" name="login" type="hidden" value="1">
                                <input id="cedula" name="cedula" type="text" class="form-control" placeholder="Cédula de Identidad">
                            </div><!--//form-group-->
                            <div class="form-group password">
                                <label class="sr-only" for="password">Password</label>
                                <input id="password" name="password" type="password" class="form-control" placeholder="Clave de acceso">
                                <div class="extra">
                                    <div class="forgotten-password">
                                        <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Olvidó su clave de acceso?</a>
                                    </div>
                                </div><!--//extra-->
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-cta btn-block btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Procesando..."><i class="fa fa-user"></i> Ingresar</button>
                        </form>
                    </div><!--//login-form-container-->
                                    </div><!--//modal-body-->
                
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    <!-- Reset Password Modal -->
    <div class="modal modal-auth modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="resetpassModalLabel" class="modal-title text-center">Olvidó su clave de acceso?</h4>
                </div>
                <div class="modal-body">
                    <div class="resetpass-form-container">
                        <p class="intro">Introduzca su número de cédula, le estaremos enviando su clave de acceso a la dirección de correo electrónico registrada en nuestro sistema.</p>
                        <div id="resetpass-messages" class="text-center"></div>
                        <form id="resetpass-form" class="resetpass-form">                
                            <div class="form-group email">
                                <label class="sr-only" for="cedula">Número de cédula de identidad</label>
                                <input id="cedula" name="cedula" type="text" class="form-control login-email" placeholder="Número de cédula de identidad">
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-block btn-secondary btn-cta" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Procesando...">Solicitar Clave</button>
                        </form>
                    </div><!--//login-form-container-->
                    <div class="option-container">
                        <div class="lead-text">Deseo <a class="back-to-login-link" id="back-to-login-link" href="#">regresar al formulario de acceso</a></div>                    
                    </div><!--//option-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->  
    <!--//configure-panel-->
 
    <!-- Main Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>  
    <script type="text/javascript" src="assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="assets/plugins/isMobile/isMobile.min.js"></script>   
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript" src="assets/js/ajax-form.js"></script> 
    <script type="text/javascript" src="assets/js/main.js"></script> 
    <!--[if !IE]>-->
    <script type="text/javascript" src="assets/js/animations.js"></script> 
    <!--<![endif]--> 
</body>
</html>